#mainBlock {
  padding: 10px;
}

#settings {
  color: darkblue;
}

.mat-card-header-text {
  margin: 0;
}

#addObjectiveIcon {
  margin: 1px;
  font-size: 2em;
  color: green;
}

mat-card {
  margin-top: 20px;
}

button mat-icon {
  vertical-align: top;
}

.material-icons {
  vertical-align: bottom;
}

mat-card-footer {
  margin: 0 5px;
}

mat-card-title {
  margin-top: 15px;
}
